/*base styles/*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  // font-family: $main-font;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  // color: $black;
  // background-color: $white;
}

:root {
  --main-color: #0000ff;
  --alternative-color: #ffffff;
  --main-accent-color : rgba(0, 0, 255, 0.8);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.container {
  margin: 0 auto;

  padding: {
    left: 20px;
    right: 20px;
  }
}

.list{
  @extend %list;

  padding: 10px 10px;

  font-weight: 700;
  font-size: 24px;
}

.link {
  @extend %link;
}