.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // display: flex;

  margin: 0 auto;

  z-index: 10;

  background-color: var(--main-color);

  &.no-transparency {
    background-color: var(--main-accent-color);
    backdrop-filter: blur(4px);
  }
}

.header-container{
  @extend .container;

  display: flex;
}

.search-form {
  @extend .container;

  max-width: 1280px;

  display: flex;
  justify-content: center;

  padding: {
    top: 10px;
    bottom: 10px;
  };

  text-align: center;
}

button[type="submit"] {
  position: relative;

  & .tooltip{
    top: 0;
    right: -1px;

    width: 70px;

    background-color: var(--main-color);

    transform: translateX(100%);

    @include transition((transform, visibility, opacity));

  }

  &:hover .tooltip{
    visibility: visible;
    opacity: 1;
  }
}